.color_picker input[type=text] {width: 150px!important;margin-right: 6px;}

.color_picker .picker_wr {display: inline-block;position: relative;width: 50px;height: 50px;vertical-align: middle;cursor: pointer;border: 1px solid #DDD;}
.color_picker .picker_wr .color {width: 100%;height: 50%;position: absolute;}
.color_picker .picker_wr .new_color {bottom: 0;overflow: hidden;}
.color_picker .picker_wr .new_color.full_height {height: 100%;}
.color_picker .picker {width: 200%;height: 200%;padding: 0!important;border: 0!important;background: none;position: absolute;top: -50%;left: -50%;cursor: pointer;}

.color_picker .opacity_wr {display: inline-block;vertical-align: middle;margin-left: 12px;}
.color_picker .opacity_wr p, .opacity_wr span {font-size: 1em!important;margin: 0!important;padding: 0!important;}
.color_picker .opacity_wr input {padding: 0!important;}