<h2>Справка</h2>
{#<p>Управлять заказанными услугами по сайту вы можете <a target="_blank" :href="products_url">в личном кабинете Viva IT Studio</a></p>#}
<p>
    Пожалуйста, своевременно оплачивайте доменные имена и хостинг. В случае неоплаты доменных имен есть вероятность, что
    после окончания срока действия их может кто-то купить. Имейте в виду, если не будет оплачен основной домен или хостинг,
    то вы не сможете попасть на свой сайт.
</p>

<p>
    Вы можете скачать данные архивы, как для резервного копирования данных на своих устройствах,
    так и при необходимости перейти на обслуживание и доработку сайта к другим специалистам,
    так как архивы содержат всё необходимое для переноса сайта, включая инструкции для разработчиков по запуску сайта.
</p>

<p>По всем имеющимся вопросам обращаться в <a target="_blank" :href="support_url">поддержку на сайте Viva IT Studio</a></p>
