<p>
    Ваш сайт запущен с использованием платформы Docker, которая даёт возможность отделить каждый используемый сервис сайта
    от общей его инфраструктуры. Это позволяет не только легче разрабатывать, масштабировать и по-необходимости
    переносить сайты на другой сервер, но и более точно посчитать необходимый размер для
    работоспособности сайта, включая системные файлы, программный код, базы данных, загруженных файлов,
    генерируемых файлов для обеспечения большей производительности сайта и т. д.
</p>


<h3>Контейнеры (Docker containers)</h3>

<p class="hint">
    Каждый сайт состоит из нескольких сервисов. В простых проектах это, как правило, сам сайт (core), база данных (БД) и
    кеширующий сервис для увеличения производительности сайта (redis, memcache и т. д.). Запуск сервиса происходит через создание его контейнера
    (или по-другому экземпляра). В некоторых случаях для распределения нагрузки сайта и соответственно увеличения его производительности запускают
    несколько контейнеров какой-либо сервиса.
</p>

<table>
    <thead>
        <tr>
            <th>Контейнер</th>
            <th>Размер контейнера</th>
            <th>Сервис</th>
            <th>Описание сервиса</th>
        </tr>
    </thead>
    <tbody>

    <tr v-for="(details, name) in stat.sizes.containers.list" :key="name">
        <td><span v-text="name"></span></td>
        <td class="right"><span v-text="details.size_str"></span></td>
        <td><span v-text="details.service"></span></td>
        <td><span v-text="details.description"></span></td>
    </tr>

    <tr class="bold"><td>Итого</td><td class="right"><span v-text="stat.sizes.containers.total_str"></span></td><td colspan="2"></td></tr>
    </tbody>
</table>


<h3>Хранилища (Docker volumes)</h3>

<p class="hint">
    Хранилища содержат загруженные через сайт файлы, конфигурации и служебные генерируемые данные для обеспечения работоспособности сайта
    и увеличения его производительности (кеширования).
</p>

<table>
    <thead>
        <tr>
            <th>Хранилище</th>
            <th>Размер</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>

    <tr v-for="(details, name) in stat.sizes.volumes.list" :key="name">
        <td><span v-text="name"></span></td>
        <td class="right"><span v-text="details.size_str"></span></td>
        <td><span v-text="details.description"></span></td>
    </tr>

    <tr class="bold"><td>Итого</td><td class="right"><span v-text="stat.sizes.volumes.total_str"></span></td><td colspan="2"></td></tr>
    </tbody>
</table>


<h3>Код сайта</h3>

<p class="hint">С исходного кода сайта создаются контейнеры сервисов и определяются хранилища.</p>

<p>Размер кода сайта: <span class="bold" v-text="stat.sizes.project_folder.size_str"></span></p>


<h3>Полный размер данных</h3>

<p>Полный размер данных сайта (сумма размеров контейнеров, хранилищ и кода сайта): <span class="bold" v-text="stat.sizes.total_str"></span></p>
