{% extends 'admin/base_site.html' %}
{% load sb_tags static sb_default_urls %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'sb_core/css/info_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'sb_core/css/mes.css' %}">
{% endblock %}

{% block extrahead %}{{ block.super }}
    <script src="{% static 'vue/vue.global.prod.js' %}"></script>
    <script src="{% static 'axios/axios.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="app">

        <div class="cols">
            <div class="col">
                <h2>Размер данных сайта</h2>
                <table v-if="stat.sizes.total_str">
                    <tbody>
                    <tr><td>Контейнеры</td><td><span v-text="stat.sizes.containers.total_str"></span></td></tr>
                    <tr><td>Хранилища</td><td><span v-text="stat.sizes.volumes.total_str"></span></td></tr>
                    <tr><td>Код сайта</td><td><span v-text="stat.sizes.project_folder.size_str"></span></td></tr>
                    <tr class="bold">
                        <td>Полный размер данных</td>
                        <td>
                            <span v-text="stat.sizes.total_str"></span>
                            <template v-if="given_size_str">
                                из <span v-text="given_size_str"></span><br>

                                <span v-if="free_size >= 0" class="green">Осталось <span v-text="free_size_str"></span></span>
                                <span v-else>Превышено на <span v-text="free_size_str"></span></span>

                                {% comment %}(<a target="_blank" :href="products_url">изменить</a>){% endcomment %}
                            </template>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p v-else>
                    На данный момент не определено.<br/>Статистика будет подсчитана после создания резервной копии данных.
                </p>
            </div>
            <div class="col">
                <h2>Создание архивов</h2>

                <table>
                    <tbody>
                    <tr v-if="stat.backup_date_str"><td>Дата последнего создания бекапа</td><td><span v-text="backup_date"></span> (затраченное время: <span v-text="stat.elapsed_time_str"></span>)</td></tr>
                    <tr><td>Автоматическое создание архивов производится каждые</td><td><span v-text="backup_interval_str"></span>{% comment %} (<a target="_blank" :href="products_url">изменить</a>){% endcomment %}</td></tr>
                    <tr>
                        <td>Следующее автоматическое создание бекапа</td>
                        <td v-if="next_backup_date"><span v-text="next_backup_date"></span></td>
                        <td v-else>Менее чем через минуту</td>
                    </tr>
                    <tr><td>Допустимое хранение резервных копий</td><td><span v-text="backup_count"></span>{% comment %} (<a target="_blank" :href="products_url">изменить</a>){% endcomment %}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <template v-if="stat.sizes.total_str">
            <p class="link" v-on:click="size_more_shown = !size_more_shown" v-text="!size_more_shown ? 'Подробнее о размере данных сайта' : 'Скрыть подробности о размере данных сайта'"></p>

            <div class="size_more" v-if="size_more_shown">{% include 'admin/sb_core/_size_hint.html' %}</div>
        </template>

        <div class="mes i">Обязательно периодически скачивайте резервные копии данных - так вы защитите свои данные от потери в форс-мажорных случаях.</div>

        <p v-if="lockfile_content !== ''" class="mes w">
            <template v-if="current_elapsed_time === 0">Задача "Создание резервных копий" поставлена в очередь и будет запущена в течение минуты.</template>
            <template v-else>
                Внимание! В настоящее время создаются резервные копии. Этот процесс может занимать длительное время. Для скачивания актуальных резервных копий дождитесь окончания процесса.<br>
                Текущее затраченное время: <span v-text="current_elapsed_time"></span>
                <template v-if="stat.elapsed_time_str"> Предыдущий бекап был создан за <span v-text="stat.elapsed_time_str"></span></template>
            </template>
        </p>

        <div class="item" v-if="lockfile_content === ''">
            <p>Вы можете самостоятельно обновить резервные копии, чтобы скачать самую актуальную версию данных.<br/><br/></p>
            <p><span class="button" @click="do_backup">Создать резервные копии</span></p>
        </div>

        <h2>Скачать резервные копии</h2>

        <h3>Базы данных</h3>
        <template v-for="(item, i) in files.db" :key="i">
            <p><a target="_blank" :href="item.url" v-text="item.filename + ' (' + item.size_str + ')'"></a></p>
        </template>
        <p v-if="files.db.length === 0">Резервная копия ещё не была создана</p>

        <h3>Загруженные файлы</h3>
        <template v-for="(item, i) in files.media" :key="i">
            <p><a target="_blank" :href="item.url" v-text="item.filename + ' (' + item.size_str + ')'"></a></p>
        </template>
        <p v-if="files.media.length === 0">Резервная копия ещё не была создана</p>


        <h3>Код сайта</h3>
        <template v-for="(item, i) in files.code" :key="i">
            <p><a target="_blank" :href="item.url" v-text="item.filename + ' (' + item.size_str + ')'"></a></p>
        </template>
        <p v-if="files.code.length === 0">Резервная копия ещё не была создана</p>

        {% include 'admin/sb_core/_hint.html' %}

    </div>

    <script>
        const App = {
            setup() {
                const lockfile_content = Vue.ref('')

                const stat = Vue.ref({{ stat|safe }})
                const backup_interval = Vue.ref({{ backup_interval }})
                const backup_interval_str = Vue.ref('{{ backup_interval_str }}')
                const backup_count = Vue.ref({{ backup_count }})

                const backup_date = Vue.ref('')
                const next_backup_date = Vue.ref('')

                const current_elapsed_time = Vue.ref(0)

                let given_size = 0
                const given_size_str = Vue.ref('')
                const free_size = Vue.ref(0)
                const free_size_str = Vue.ref('')

                const size_more_shown = Vue.ref(false)

                const files = Vue.ref({
                    db: [],
                    media: [],
                    code: [],
                })

                let run_get_backups = false
                let get_backups_timer = 0

                let loaded_given_size = false

                const timestamp_to_str = value => {
                    let date = new Date(value * 1000)
                    return  date.toLocaleDateString() + ' ' + date.toLocaleTimeString()
                }

                const update_stat = () => {
                    if (stat.value.backup_date === 0) {
                        backup_date.value = ''
                        next_backup_date.value = ''
                    }
                    else {
                        backup_date.value = timestamp_to_str(stat.value.backup_date)
                        next_backup_date.value = timestamp_to_str(stat.value.backup_date + backup_interval.value)
                    }
                }

                const get_backups = () => {
                    run_get_backups = true
                    axios.get('{% url 'get_backups' %}')
                        .then(response => {
                            if (response.data.status === 'fail') console.log(response.data.mes)
                            else {
                                lockfile_content.value = response.data.lockfile_content

                                stat.value = response.data.stat

                                backup_interval.value = response.data.backup_interval
                                backup_interval_str.value = response.data.backup_interval_str
                                backup_count.value = response.data.backup_count

                                stat.backup_interval_str = response.data.backup_interval_str

                                update_stat()

                                current_elapsed_time.value = response.data.current_elapsed_time

                                // group files
                                let group
                                let _files = {
                                    db: [],
                                    media: [],
                                    code: [],
                                }
                                for (let item in response.data.stat.sizes.backups.files) {
                                    if (item.startsWith('db')) group = 'db'
                                    else if (item.startsWith('media')) group = 'media'
                                    else group = 'code'

                                    let _item = response.data.stat.sizes.backups.files[item]
                                    _item['filename'] = item

                                    _files[group].push(_item)
                                }

                                let groups = ['db', 'media', 'code']
                                for (let index in groups) {
                                    _files[groups[index]].sort((a, b) => {
                                        let name_A = a.created_date, name_B = b.created_date
                                        if (name_A < name_B) return -1
                                        if (name_A > name_B) return 1
                                        return 0
                                    }).reverse()
                                }

                                if (stat.value.sizes.total !== undefined) {
                                    if (!loaded_given_size) {
                                        axios.get('{% url 'get_given_size' %}')
                                            .then(response => {
                                                loaded_given_size = true
                                                if (response.data.status === 'fail') console.log(response.data.mes)
                                                else {
                                                    given_size = response.data.size
                                                    given_size_str.value = format_bytes(given_size)
                                                }
                                            })
                                            .catch(error => {
                                                console.log(error)
                                            })
                                            .finally(() => {
                                                if (given_size) {
                                                    free_size.value = given_size - stat.value.sizes.total
                                                    free_size_str.value = format_bytes(Math.abs(free_size.value))
                                                }
                                            })
                                    }
                                }

                                files.value = _files
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        })
                        .finally(() => {
                            if (run_get_backups) {
                                let timeout = (lockfile_content.value === '') ? 10 : 3  // for convenience, check more often if a backup is created

                                get_backups_timer = setTimeout(() => {
                                    get_backups()
                                }, timeout * 1000)
                            }
                        })
                }

                const do_backup = () => {
                    axios.get('{% url 'do_backup' %}')
                        .then(response => {
                            if (response.data.status === 'fail') console.log(response.data.mes)
                            else {
                                lockfile_content.value = response.data.lockfile_content
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        })
                }

                const format_bytes = bytes => {
                    let i = -1
                    let byte_units = ['KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']

                    do {
                        bytes = bytes / 1024
                        i++
                    } while (bytes >= 1024)

                    return Math.max(bytes, 0).toFixed(1) + ' ' + byte_units[i]
                }

                const init = () => {
                    update_stat()
                    get_backups()

                    // check on active page
                    setInterval(() => {
                        if (document.hidden){
                            if (run_get_backups) {
                                run_get_backups = false
                                clearTimeout(get_backups_timer)
                            }
                        }
                        else {
                            if (!run_get_backups) get_backups()
                        }
                    }, 1000)
                }

                init()

                return {
                    lockfile_content, files, do_backup, stat, backup_interval, backup_interval_str, backup_count, backup_date, next_backup_date, current_elapsed_time,
                    given_size_str, free_size, free_size_str, size_more_shown,

                    support_url: '//vits.pro/support/',
                    products_url: '//vits.pro/my/products/',
                }
            }
        }

        Vue.createApp(App).mount('#app')
    </script>
{% endblock %}
