{% extends "admin/base_site.html" %}
{% load i18n static %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        <a href="{% url 'utils' %}">Утилиты сайта</a> &rsaquo;
        {{ title }}
    </div>
{% endblock %}


{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'sb_core/css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'sb_core/css/mes.css' %}">
{% endblock %}


{% block extrahead %}{{ block.super }}
    {{ form.media }}
{% endblock %}


{% block content %}
    <fieldset class="module">
        <p class="mes w">Внимание: выполнение некоторых команд может нарушить работу сайта. Убедитесь, что вы понимаете результат выполнения команды.</p>

        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Выполнить" ></p>
        </form>

        {% if result %}
            <div class="mes">
                <p>Лог: <br/> {{ result|linebreaks }}</p>
            </div>
        {% endif %}

        <div class="commands">
            {% for app, command, desc in commands %}
                <div class="item" data-cmd="{{ app }}.{{ command }}">
                    <p class="mes i">Command: {{ app }}.{{ command }}</p>
                    <pre>{{ desc|safe }}</pre>
                </div>
            {% endfor %}
        </div>
    </fieldset>
{% endblock %}
