{% extends "admin/base_site.html" %}
{% load i18n static sb_tags %}


{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'sb_core/css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'sb_core/css/mes.css' %}">
    <link rel="stylesheet" href="{% static 'sb_core/css/panel.css' %}">
{% endblock %}


{% block content %}
    <p>Данный раздел предназначен для просмотра SEO информации и обычно не требует каких-либо настроек со стороны администратора сайта.</p>

    <p>Текущий сайт: {% get_domain False %} | <a href="{% url 'admin:sites_site_changelist' %}">Изменить</a></p><br/>

    <fieldset class="module">
        <div class="panel blue">
            <div class="t_wr">
                <div class="t">Содержание robots.txt</div>
                <div class="t_2"><a target="_blank" href="{{ robots.url }}">{{ robots.url }}</a></div>
            </div>
            <div class="c">
                <pre>{{ robots.content|linebreaksbr }}</pre>
            </div>
        </div>

        <div class="panel blue fixed_height">
            <div class="t_wr">
                <div class="t">Содержание sitemap.xml</div>
                <div class="t_2"><a target="_blank" href="{{ sitemap.url }}">{{ sitemap.url }}</a></div>
            </div>
            <div class="c">
                <pre>{{ sitemap.content }}</pre>
            </div>
        </div>

        <p>Примечание:</p>
        <ul>
            <li>
                <p style="padding-left: 0;">Содержание robots.txt определяется во время запуска сайта и обычно не требует изменений. Для изменения этого файла обратитесь к разработчику сайта.</p>
                <div style="display: none;">
                    <p>Если вы изменили домен сайта, то вы можете принудительно <a href="{% url 'generate_robots' %}">сгенерировать robots.txt по умолчанию</a> (при этом все ручные изменения robots.txt потеряются):</p>
                    <pre>{{ default_robots_content|linebreaksbr }}</pre>
                </div>
            </li>
            <li>Содержание sitemap.xml генерируется автоматически раз в день.</li>
        </ul>
    </fieldset>
{% endblock %}
