{% extends "admin/base_site.html" %}
{% load i18n static %}


{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'sb_core/css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'sb_core/css/mes.css' %}">
{% endblock %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        <a href="{% url 'utils' %}">Утилиты сайта</a> &rsaquo;
        {{ title }}
    </div>
{% endblock %}


{% block content %}
    <fieldset class="module">
        {% for component, pages in components.items %}
            <h2>{{ component }}</h2>
            {% for title, url in pages %}
                <p>{% if url %}<a href="{{ url }}?edit">{% endif %}{{ title }}{% if url %}</a>{% endif %}</p>
            {% empty %}
                <p>Нет на страницах</p>
            {% endfor %}
        {% endfor %}
    </fieldset>
{% endblock %}
