{% extends "admin/base_site.html" %}
{% load i18n static %}


{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'sb_core/css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'sb_core/css/mes.css' %}">
{% endblock %}


{% block content %}
    <h3>Тестовое сообщение с сайта</h3>

    <p>Предназначено для проверки работоспособности приёма писем с сайта. Тестовое письмо будет отправлено на {{ email }}</p>

    <form action="" method="post">{% csrf_token %}
        <input type="hidden" name="method" value="send_test_email">
        <p><input type="submit" value="Отправить"></p>
    </form>

    {% if method == 'send_test_email' %}
        {% if status == 'ok' %}
            <p class="mes s">Письмо было отправлено</p>
        {% endif %}
    {% endif %}


    <h3>Ускорение работы сайта</h3>

    <p>Во время администрирования сайта в базе данных может накапливаться ненужная информация при использовании компонента "Текст" и других функциях системы.</p>
    <p>Чтобы ускорить работу сайта, а также освободить место на диске, щёлкните "Ускорить сайт".</p>
    <p class="mes w">Внимание! Процесс ускорения может занять несколько минут.</p>

    {% if method == 'accelerate' %}
        <div class="mes i">
            <h2>Результаты ускорения сайта</h2>
            {% if accelerated %}
                {% if free_bites %}
                    <p>Убраны лишние неразрывные пробелы, что позволило улучшить отображение текста и освободить {{ free_bites }}.</p>
                {% endif %}
            {% else %}
                <p>Сайт уже ранее был очищен от лишней информации.</p>
            {% endif %}
        </div>
    {% else %}
        <form action="" method="post">{% csrf_token %}
            <input type="hidden" name="method" value="accelerate">
            <p><input type="submit" value="Ускорить сайт" ></p>
        </form>
    {% endif %}


    <h3>Выполнение команды</h3>

    <p><a href="{% url 'management_commands' %}">Открыть страницу выполнения команд на сайте</a></p>


    <h3>Используемые компоненты на страницах</h3>

    <p><a href="{% url 'used_components' %}">Посмотреть используемые компоненты на страницах</a></p>
    <p class="mes w">Страница может долго открываться в зависимости от количества используемых компонентов на сайте</p>
{% endblock %}
