{% load sb_prev_next_tags %}

{% get_public_prev_sibling page as prev_node %}
{% get_public_next_sibling page as next_node %}

{% if prev_node or next_node %}
    {% load sb_tags sekizai_tags sb_default_urls i18n %}
    {% addtoblock 'css' %}<link rel="stylesheet" href="{% default_url 'awesome' %}">{% endaddtoblock %}

    <div class="prev_next">
        {% if prev_node %}
            <a class="prev" href="{{ prev_node.get_item.get_absolute_url }}" title="{% trans 'Go to' %} &laquo;{{ prev_node.get_item.get_title }}&raquo;"><i class="fa fa-angle-double-left"></i>{% if title_as_label %}{{ prev_node.get_item.get_title }}{% else %}{{ prev_label|default:_('Previous article') }}{% endif %}</a>
        {% endif %}

        {% if next_node %}
            <a class="next" href="{{ next_node.get_item.get_absolute_url }}" title="{% trans 'Go to' %} &laquo;{{ next_node.get_item.get_title }}&raquo;">{% if title_as_label %}{{ next_node.get_item.get_title }}{% else %}{{ next_label|default:_('Next article') }}{% endif %}<i class="fa fa-angle-double-right"></i></a>
        {% endif %}
    </div>
{% endif %}