{% load sekizai_tags i18n static sb_tags %}
{% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'sb_core/css/pretty_form.css' %}" />{% endaddtoblock %}
{% block extra %}{% endblock %}

<div class="pretty_form">
    {% block title %}{% if form_title %}<p class="title">{{ form_title }}</p>{% endif %}{% endblock %}

    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

    <div class="error_list mes e">{{ form.non_field_errors }}</div>

    {% block fields %}
        {% for item in form.visible_fields %}
            <div class="item_row{% if item.field.required %} required{% endif %}{% if item|is_boolean_field %} boolean_field{% endif %}">
                {% if item|is_boolean_field %}
                    <div class="label_wr"></div>
                    <div class="input_wr cursored">
                        <div class="input" data-id="{{ item.name }}">{{ item }} <label for="id_{{ item.name }}">{{ item.label }}</label></div>
                        <div class="help_text">{{ item.help_text|safe }}</div>
                        <div class="error" id="err-{{ item.name }}">{{ item.errors }}</div>
                    </div>
                {% else %}
                    <div class="label_wr"><div class="label">{{ item.label }}<span>{% if item.field.required %}*{% endif %}</span></div></div>
                    <div class="input_wr">
                        <div class="input" data-id="{{ item.name }}">{{ item }}</div>
                        <div class="help_text">{{ item.help_text|safe }}</div>
                        <div class="error" id="err-{{ item.name }}">{{ item.errors }}</div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endblock %}

    {% block hint %}<p class="hint">{% trans 'Fields marked by star' %} ( * ) {% trans 'is required' %}</p>{% endblock %}

    {% block progress %}
        <div class="progress">
            <span>Загрузка данных: </span>
            <div class="wr">
                <div class="v"></div>
            </div>
        </div>
    {% endblock %}

    <div class="log"></div>


    {% if use_submit %}
        <div class="btn_wr">
            {% if use_loader %}
                {% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'sb_core/css/loader.css' %}" />{% endaddtoblock %}
                <span class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" miterlimit="1.0"/>
                    </svg>
                </span>
            {% endif %}

            {% if use_input %}<input class="{{ class|default:'btn' }}" type="submit" value="{{ btn_title|default:'Отправить' }}">
            {% else %}<div class="{{ class|default:'btn' }}">{{ btn_title|default:'Отправить' }}</div>{% endif %}
        </div>
    {% endif %}
</div>
