{% load sekizai_tags sb_default_urls sb_thumb_tags sb_tags static sb_plugins_tags sb_math_tags %}

<div class="sb_detail_slider {% if pics|length == 1 %}fos{% else %}full{% endif %}{% if use_zoom_slider %} zs{% endif %}{% if is_active %} active{% endif %}{% if use_loading_icon %} use_loading_icon{% endif %}" data-id="{{ slider_data_id }}">
    {% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'plugins/slider_detail/slider.css' %}">{% endaddtoblock %}
    {% if use_zoom_slider %}{% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'plugins/slider_detail/zoom_slider.css' %}">{% endaddtoblock %}{% endif %}

    {% if pics|length > 1 %}
        {% addtoblock 'js' %}<script src="{% default_url 'jquery' %}"></script>{% endaddtoblock %}

        {% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'plugins/slider_detail/slider_full.css' %}">{% endaddtoblock %}
        {% addtoblock 'js' %}<script src="{{ STATIC_URL }}plugins/slider_detail/slider_full.js"></script>{% endaddtoblock %}

        {% if use_zoom_slider %}
            {% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'plugins/slider_detail/zoom_slider_full.css' %}">{% endaddtoblock %}
            {% addtoblock 'js' %}<script src="{{ STATIC_URL }}plugins/slider_detail/zoom_slider_full.js"></script>{% endaddtoblock %}
        {% endif %}

        <div class="slide_nav">
            {% for pic in pics %}
                <div class="item{% if forloop.counter == 1 %} active{% endif %}" data-id="{{ forloop.counter }}">
                    {% retina pic 100 0 alt pic=pic_field tag='img' is_response=False %}
                </div>
            {% endfor %}
        </div>

        <div class="w">
            {% for pic in pics %}
                {% with pic.pic.height|division:pic.pic.width|to_percent:'2' as padding_top %}
                    <div class="slide {% if forloop.counter == 1 %}active{% else %}loading{% endif %}" data-id="{{ forloop.counter }}"{% if use_zoom_slider and pic|args:pic_field|call:'file_exists' %} data-url="{{ pic|get_attr:pic_field|get_attr:'url' }}"{% endif %}>
                        {% if is_active and forloop.counter == 1 %}
                            {% retina pic 490 0 alt 'th' pic=pic_field tag='img' is_response=False %}
                        {% else %}
                            {% retina pic 490 0 alt 'th' pic=pic_field tag='img' is_response=False %}
                        {% endif %}
                    </div>
                {% endwith %}
            {% endfor %}

            <div class="slide_nav_m">
                {% for pic in pics %}
                    <div class="item{% if forloop.counter == 1 %} active{% endif %}" data-id="{{ forloop.counter }}"></div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {% if use_zoom_slider %}{% addtoblock 'js' %}<script src="{{ STATIC_URL }}plugins/slider_detail/zoom_slider_fos.js"></script>{% endaddtoblock %}{% endif %}

        {% with sample_pic as pic %}
            <div class="slide" {% if use_zoom_slider and pic|args:pic_field|call:'file_exists' %} data-url="{{ pic|get_attr:pic_field|get_attr:'url' }}"{% endif %}>
                {% retina pic 605 0 alt 'th' pic=pic_field tag='img' %}
            </div>
        {% endwith %}
    {% endif %}
</div>
