{% load sekizai_tags sb_default_urls static %}
{% addtoblock 'js' %}<script src="{% default_url 'jquery' %}"></script>{% endaddtoblock %}
{% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'plugins/slider_list/slider.css' %}">{% endaddtoblock %}
{% addtoblock 'js' %}<script src="{{ STATIC_URL }}plugins/slider_list/slider.js"></script>{% endaddtoblock %}
