{% load sb_thumb_tags %}

<div class="slider" data-url="{{ product.get_absolute_url }}" data-par="{{ product.FILTER_PARS.color }}">
    <div class="w">
        {% for obj in product.get_product_colors.all %}
            <div class="slide{% if forloop.counter == 1 %} current_slide{% endif %}" data-id="{{ obj.id }}">
                {% retina obj.sample_image 390 520 product.product_name th_type='contain' tag='img' %}
            </div>
        {% empty %}
            <div class="slide current_slide"></div>
        {% endfor %}
    </div>

    <h2 class="title">{{ product.product_name }}</h2>

    <p class="price">
        {% if product.unit_price != 0 %}{{ product.get_price_html }}{% else %}Цена не определена{% endif %}
    </p>

    <div class="outer_slide_c">
        {% for obj in product.get_product_colors.all %}
            <div class="outer_slide{% if forloop.counter == 1 %} current_outer_slide{% endif %}" data-id="{{ obj.id }}" data-color_id_for_get_pars="{{ obj.get_color_id_for_get_pars }}">
                <span{% if obj.color.value %} style="background-color: {{ obj.color_value }}" title="{{ obj.color.title }}" {% endif %}>
                    {% retina obj 14 14 silent=True %}
                </span>
            </div>
        {% endfor %}

        {% if product.colors.count > 1 %}<p>Другие цвета</p>{% endif %}
    </div>
</div>
