nav {
  background-color: #f3f3f3;
  margin: 0 -15px; }

ul.menu {
  list-style: none;
  margin-top: 20px; }
  ul.menu li {
    margin: 0;
    transition: background-color 0.2s ease-in-out 0s;
    position: relative; }
    ul.menu li li.parent {
      position: relative; }
      ul.menu li li.parent:after {
        background-color: #4d4d4d;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px; }
      ul.menu li li.parent a {
        font-weight: bold; }
    ul.menu li ul {
      top: 0;
      display: none;
      list-style: none;
      margin: 0; }
      ul.menu li ul li {
        background-color: #e6e6e6;
        border-left: 1px solid #ccc; }
        ul.menu li ul li a, ul.menu li ul li span {
          color: #000;
          border-left: 3px solid #e6e6e6;
          height: 32px;
          line-height: 32px;
          padding: 0 14px;
          width: 100%;
          white-space: nowrap;
          display: inline-block; }
        ul.menu li ul li.active > a, ul.menu li ul li.active > span, ul.menu li ul li:hover > a, ul.menu li ul li:hover > span {
          border-left-color: #000; }
    ul.menu li.active > a, ul.menu li.active > span, ul.menu li:hover > a, ul.menu li:hover > span {
      background-color: #dadada; }
    ul.menu li a, ul.menu li span {
      color: #000;
      text-decoration: none;
      font-size: .7em;
      vertical-align: middle;
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 10px 18px;
      box-sizing: border-box; }
      ul.menu li a.gt, ul.menu li span.gt {
        padding-right: 24px; }
      ul.menu li a.gt:after, ul.menu li span.gt:after {
        border: 6px solid transparent;
        border-left-color: #000;
        content: '';
        position: absolute;
        right: 2px;
        top: 11px; }
  ul.menu > li {
    display: inline-block; }
    ul.menu > li > ul {
      min-width: 180px;
      top: auto;
      left: auto; }
    ul.menu > li.active > a, ul.menu > li.active > span, ul.menu > li:hover > a, ul.menu > li:hover > span {
      background-color: #d6d6d6; }
    ul.menu > li > a, ul.menu > li > span {
      text-transform: uppercase; }

.show_menu {
  display: none; }

@media (max-width: 1366px) {
  ul.menu li a.gt:after, ul.menu li span.gt:after {
    border-width: 4px;
    top: 13px; } }

@media (min-width: 992px) {
  ul.menu ul {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 100%; }
    ul.menu ul:before {
      width: calc(100% + 30px);
      height: calc(100% + 60px);
      top: -30px;
      left: 0;
      position: absolute;
      content: ''; }
  ul.menu > li > ul:before {
    width: calc(100% + 60px);
    height: calc(100% + 30px);
    top: 0;
    left: -30px; }
  ul.menu li:hover > ul {
    display: block; } }

@media (max-width: 991px) {
  nav {
    background-color: #f3f3f3;
    width: 260px;
    position: fixed;
    height: 100%;
    top: 0;
    left: -270px;
    z-index: 3000;
    margin: 0; }
    nav .menu_c {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%; }
  ul.menu {
    margin: 0; }
    ul.menu li {
      display: block; }
      ul.menu li a, ul.menu li span {
        padding: 15px 30px; }
      ul.menu li ul {
        padding: 0; }
        ul.menu li ul li {
          border-left: none; }
          ul.menu li ul li.parent:after {
            width: calc(100% - 3px);
            margin-left: 3px; }
          ul.menu li ul li ul li {
            padding: 0 0 0 20px; }
            ul.menu li ul li ul li.parent:after {
              width: calc(100% - 20px);
              margin-left: 20px; }
          ul.menu li ul li a, ul.menu li ul li span {
            line-height: 18px;
            height: auto;
            white-space: normal;
            padding-top: 10px;
            padding-bottom: 10px; }
    ul.menu > li > ul li {
      background-color: #fff; }
    ul.menu > li > ul > li ul li > a, ul.menu > li > ul > li ul li > span {
      background-color: #e9e9e9; }
    ul.menu > li > ul > li > a, ul.menu > li > ul > li > span {
      border-left: 4px solid #ababab; }
  .show_menu {
    background-color: #d6d6d6;
    position: absolute;
    top: 0;
    right: -64px;
    width: 54px;
    height: 54px;
    display: table;
    text-align: center;
    cursor: pointer;
    z-index: 1; }
    .show_menu:hover {
      background-color: #bebebe; }
    .show_menu .fa {
      color: #4b4b4b;
      display: table-cell;
      font-size: 1.7em;
      vertical-align: middle; }
  .fade {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2999; } }
