// colors
$black: #000;


nav {background-color: #f3f3f3;margin: 0 -15px;}

ul.menu {
    list-style: none;margin-top: 20px;
    li {
        margin: 0;transition: background-color 0.2s ease-in-out 0s;position: relative;
        li.parent {
            position: relative;
            &:after {background-color: #4d4d4d;content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;}
            a {font-weight: bold;}
        }
        ul {
            top: 0;display: none;list-style: none;margin: 0;

            li  {
                background-color: #e6e6e6;border-left: 1px solid #ccc;
                a, span {color: $black;border-left: 3px solid #e6e6e6;height: 32px;line-height: 32px;padding: 0 14px;width: 100%;white-space: nowrap;display: inline-block;}
                &.active, &:hover {
                    > a, > span {border-left-color: $black;}
                }
            }
        }

        &.active, &:hover {
            > a, > span {background-color: #dadada;}
        }

        a, span {
            color: $black;text-decoration: none;font-size: .7em;vertical-align: middle;display: inline-block;width: 100%;height: 100%;padding: 10px 18px;box-sizing: border-box;
            &.gt {padding-right: 24px;}
            &.gt:after {border: 6px solid transparent;border-left-color: $black;content: '';position: absolute;right: 2px;top: 11px;}
        }
    }
    > li {
        display: inline-block;
        > ul {min-width: 180px;top: auto;left: auto;}
        &.active, &:hover {
            > a, > span {background-color: #d6d6d6;}
        }
        > a, > span {text-transform: uppercase;}
    }
}

.show_menu {display: none;}


@media (max-width: 1366px) {
    ul.menu li {
        a, span {
            &.gt:after {border-width: 4px;top: 13px;}
        }
    }
}


@media (min-width: 992px) {
    ul.menu {
        ul {
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);position: absolute;left: 100%;
            &:before {width: calc(100% + 30px);height: calc(100% + 60px);top: -30px;left: 0;position: absolute;content: '';}
        }
        > li > ul:before {width: calc(100% + 60px);height: calc(100% + 30px);top: 0;left: -30px;}
        li:hover > ul {display: block;}
    }
}


@media (max-width: 991px) {
    nav {
        .menu_c {overflow-y: auto;overflow-x: hidden;height: 100%;}
    }

    ul.menu {
        display: none;margin: 0;
        li {
            display: block;

            ul {
                padding: 0;

                li {
                    border-left: none;
                    &.parent:after {width: calc(100% - 3px);margin-left: 3px;}
                    ul li {
                        padding: 0 0 0 20px;
                        &.parent:after {width: calc(100% - 20px);margin-left: 20px;}
                    }
                    a, span {line-height: 18px;height: auto;white-space: normal;padding-top: 10px;padding-bottom: 10px;}
                }
            }
        }
        > li > ul {
            li {background-color: #fff;}
            > li {
                ul li {
                    > a, > span {background-color: #e9e9e9;}
                }
                > a, > span {border-left: 4px solid #ababab;}
            }
        }
    }

    .show_menu {
        background-color: #d6d6d6; display: block; text-align: left; cursor: pointer; font-size: 1.3em;
        i, span {vertical-align: middle;display: inline-block}
        span {text-transform: uppercase}
        &:hover {background-color: #bebebe;}
        .fa {color: #4b4b4b;margin-left: 10px;margin-right: 10px;}
    }
}