{% load sb_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
    <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #fafafa;padding: 30px 0;">
        <tbody>
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" width="800" style="background-color: #ffffff;box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
                    <tbody>
                    <tr>
                        <td style="font:16px Verdana, Geneva, sans-serif;background: #e6e6e6;text-align: right;padding: 1px 12px;">
                            <p style="margin: 5px 0;padding:16px 0;font-size: 23px;"><a href="{% get_domain %}" target="_blank" style="color: #000; font-weight: bold;text-decoration: none;">{% get_site_name %}</a></p>
                        </td>
                        <td style="padding:0 18px;background: #e6e6e6;text-align: center;width: 45%;">
                            <p style="margin: 5px 0;border-left: 2px solid #cbcbcb;padding: 16px 5px;color: #555;">{% company_name %}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font:17px Verdana, Geneva, sans-serif;line-height:22px;color:#404040;padding:45px 40px;">
                            {% block header %}{% endblock %}
                            {% block content %}{% endblock %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font:12px Verdana, Geneva, sans-serif;line-height:19px;color:#4d4d4d;padding: 0 40px 40px;">
                            {% block signature %}{% endblock %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>