{% load sb_tags sekizai_tags static i18n %}
{% spaceless %}
    {% if ancestors and ancestors|length != 1 %}
        {% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'sb_core/css/breadcrumbs.css' %}">{% endaddtoblock %}

        {% if use_home_icon %}
            {% load sb_default_urls %}
            {% addtoblock 'css' %}<link rel="stylesheet" href="{% default_url 'awesome' %}">{% endaddtoblock %}
        {% endif %}

        <div class="breadcrumbs">
            <span>{% trans 'You are here' %}: </span>
            <ul>
                {% for ance in ancestors %}
                    <li>
                        {% if not forloop.last and not ance.attr.redirect_url|is_redirect_to_404 or extra_ance %}
                            <a href="{{ ance.get_absolute_url }}{% if save_get_pars and request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}">{% if use_home_icon and ance.attr.is_home %}<i class="fa fa-home" title="Перейти на главную страницу"></i>{% else %}{{ ance.get_menu_title }}{% endif %}</a>
                        {% else %}
                            <span class="active">{{ ance.get_menu_title }}</span>
                        {% endif %}
                        {% if not forloop.last or extra_ance %}<span class="separator"></span>{% endif %}
                    </li>
                {% endfor %}
                {% if extra_ance %}
                    <li><span class="active">{{ extra_ance }}</span></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endspaceless %}
