{% load sb_menu_tags %}

{% for child in children %}
    <li{% if child.selected or child.ancestor %} class="active"{% endif %}{% if child.level == 0 %} style="z-index: {{ forloop.revcounter }}"{% endif %}>
        {% if child.children and no_category_link %}
            <span class="parent_li{% if child.level > from_level %} gt{% endif %}">{{ child.get_menu_title }}</span>
        {% else %}
            <a{% if child.children %} class="parent_li{% if child.level > from_level %} gt{% endif %}"{% endif %} href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        {% endif %}
        {% if child.children %}
            <ul>
                {% if with_parent_link %}
                    <li class="parent{% if child.selected %} active{% endif %}">
                        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                    </li>
                {% endif %}
                {% sb_menu from_level to_level extra_inactive extra_active template '' '' child no_category_link with_parent_link %}
            </ul>
        {% endif %}
    </li>
{% endfor %}