{% if objects.paginator.num_pages > 1 %}
    {% load i18n sb_paginator sb_request sekizai_tags static %}
    {% block styles %}{% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'sb_core/css/paginator.css' %}">{% endaddtoblock %}{% endblock %}

    {% with objects.par|default:'page' as par %}
        <ul class="pager">
            <li class="paged">{% trans 'Page' %} {{ objects.number }} {% trans 'from' %} {{ objects.paginator.num_pages }}</li>
            <li class="t">{% trans 'Pages' %}: </li>
            {% if objects.has_previous %}
                <li><a href="{% if objects.number|add:'-1' == 1 %}{% del_par_in_path par %}{% else %}{% add_par_in_path par objects.number|add:'-1' %}{% endif %}">{% trans 'Previous' %}</a></li>
            {% endif %}

            {% for number in page_range %}
                {% if number == '...' %}
                    <li><span class="three_dots">...</span></li>
                {% else %}
                    <li {% if number == objects.number %}class="active"{% endif %}>
                        <a href="{% if number == 1 %}{% del_par_in_path par %}{% else %}{% add_par_in_path par number %}{% endif %}">{{ number }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if objects.has_next %}
                <li><a href="{% add_par_in_path par objects.number|add:'1' %}">{% trans 'Next' context 'prev_next' %}</a></li>
            {% endif %}
        </ul>
    {% endwith %}
{% endif %}
