<a class="fb fb_th_{{ name }}" href="{{ url }}">{{ thumb }}</a>
{% if url %}
    <script>
        (function($){
            $('.fb_th_{{ name }}').fancybox({
                beforeShow: function() {
                    $('.fancybox-outer').append('<div class="fb_desc"><a target="_blank" href="'+this.element.attr('href')+'">Открыть оригинал в новом окне</a> '+this.element.attr('href')+'</div>');
                },
                padding : 0
            });
        })(django.jQuery);
    </script>
{% endif %}
