<a class="fb fb_th_{{ name }}" href="{{ url }}">
    <div class="sb_pic_url" style="background-image: url('{{ url }}');{% if w %}width: {{ w }}px;{% endif %}{% if h %}height: {{ h }}px;{% endif %}"></div>
</a>
<script>
    (function($){
        $('.fb_th_{{ name }}').fancybox({
            beforeShow: function() {
                $('.fancybox-outer').append('<div class="fb_desc"><a target="_blank" href="'+this.element.attr('href')+'">Открыть оригинал</a> '+this.element.attr('href')+'</div>');
            },
            padding : 0
        });
    })(django.jQuery);
</script>
