@charset "UTF-8";
.breadcrumbs {
  margin: 20px 0;
  font-size: 0.75em; }
  .breadcrumbs .fa-home {
    font-size: 17px;
    position: relative;
    top: 1px;
    color: #545454; }
  .breadcrumbs ul {
    display: inline;
    list-style-type: none;
    padding: 0; }
    .breadcrumbs ul li {
      display: inline-block;
      margin-left: 0; }
  .breadcrumbs .separator:before {
    content: '›';
    margin-left: 4px;
    margin-right: 4px; }
