.breadcrumbs {
    margin: 20px 0;font-size: 0.75em;

    .fa-home {font-size: 17px;position: relative;top: 1px;color: #545454}
    ul {
        display: inline;list-style-type: none;padding: 0;
        li {display: inline-block; margin-left: 0;}
    }
    .separator:before {content: '›';margin-left: 4px;margin-right: 4px;}
}