body, select, input, textarea, button, table, a, p {font-size: 18px;}

p {line-height: 26px; margin: 10px 0;}
ol > li, ul > li {line-height: 23px;margin-left: 30px;}

blockquote {margin-left: 30px;border-left: 3px solid #B5B5B5;padding-left: 10px;}

pre {display: block;background: #F0F0F0;position: relative;padding: 6px 26px 6px 6px;word-wrap: break-word;white-space:pre-wrap;margin: 16px 0;line-height: 21px;font-family: 'Courier New', cursive;font-size: 14px;}
code {font-family: 'Courier New', cursive;background: #ececec;color: #151515;font-size: 16px;padding: 2px 4px 0}
.note {background-color: #EEE;border: 1px solid #CCC;margin: 20px 0;padding: 10px 25px;}
.note code {background-color: #D6D6D6}

.upper {text-transform: uppercase;}
.list_t {margin-bottom: 0;}

h1,h2,h3,h4,h5,h6 {font-weight: bold;margin: 16px 0 10px;}
h1 {font-size: 26px;margin-top: 32px;}
h2 {font-size: 23px;margin-top: 26px;}
h3 {font-size: 20px;margin-top: 21px;}
h4, h5, h6 {font-size: 18px;}

.btn {color: #333;background-color: #fff;border: 1px solid #ccc;display: inline-block;cursor: pointer;font-size: 15px;padding: 5px 12px;text-decoration: none;margin-top: 10px;margin-bottom: 15px;}
.btn:hover {background-color: #e6e6e6;border-color: #adadad;}
.btn:active {box-shadow: inset 0 3px 5px rgba(0,0,0,.125);}