.fb {height: inherit;text-decoration: none;}
.fb_desc_wr {background-color: rgba(0, 0, 0, 0.65);width: 100%;position: absolute;bottom: 0;}
.fb_desc {padding: 10px; color: #fff;line-height: 1.1em;}
#fancybox-thumbs li {margin: 0;}
.fancybox-title {display: none}