/* SBL: file icons (file_icons.css)
 * Copyright (c) 2013 - 2016 Maltsev Artem, maltsev.artjom@gmail.com, vivazzi.pro
 * web studio: Viva IT Studio, vits.pro
 */
.f_icon {width: 32px; height: 32px;background-repeat: no-repeat;display: inline-block;margin-right: 8px;}
.ext_audio {background-image: url(../images/file_formats/audio.png);}
.ext_bmp {background-image: url(../images/file_formats/bmp.png);}
.ext_doc {background-image: url(../images/file_formats/doc.png);}
.ext_gif {background-image: url(../images/file_formats/gif.png);}
.ext_image {background-image: url(../images/file_formats/image.png);}
.ext_jpg {background-image: url(../images/file_formats/jpg.png);}
.ext_pcx {background-image: url(../images/file_formats/pcx.png);}
.ext_pdf {background-image: url(../images/file_formats/pdf.png);}
.ext_ppt {background-image: url(../images/file_formats/ppt.png);}
.ext_psd {background-image: url(../images/file_formats/psd.png);}
.ext_quick_time {background-image: url(../images/file_formats/quick_time.png);}
.ext_tga {background-image: url(../images/file_formats/tga.png);}
.ext_txt {background-image: url(../images/file_formats/txt.png);}
.ext_video {background-image: url(../images/file_formats/video.png);}
.ext_xls {background-image: url(../images/file_formats/xls.png);}
.ext_zip {background-image: url(../images/file_formats/zip.png);}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .f_icon {background-size: 100%;}

    .ext_audio {background-image: url(../images/file_formats/audio_2x.png);}
    .ext_bmp {background-image: url(../images/file_formats/bmp_2x.png);}
    .ext_doc {background-image: url(../images/file_formats/doc_2x.png);}
    .ext_gif {background-image: url(../images/file_formats/gif_2x.png);}
    .ext_image {background-image: url(../images/file_formats/image_2x.png);}
    .ext_jpg {background-image: url(../images/file_formats/jpg_2x.png);}
    .ext_pcx {background-image: url(../images/file_formats/pcx_2x.png);}
    .ext_pdf {background-image: url(../images/file_formats/pdf_2x.png);}
    .ext_ppt {background-image: url(../images/file_formats/ppt_2x.png);}
    .ext_psd {background-image: url(../images/file_formats/psd_2x.png);}
    .ext_quick_time {background-image: url(../images/file_formats/quick_time_2x.png);}
    .ext_tga {background-image: url(../images/file_formats/tga_2x.png);}
    .ext_txt {background-image: url(../images/file_formats/txt_2x.png);}
    .ext_video {background-image: url(../images/file_formats/video_2x.png);}
    .ext_xls {background-image: url(../images/file_formats/xls_2x.png);}
    .ext_zip {background-image: url(../images/file_formats/zip_2x.png);}
}