/* SBL: info dashboard (info_dashboard.scss)
 * Copyright (c) Maltsev Artem, maltsev.artjom@gmail.com, vivazzi.pro
 * web studio: Viva IT Studio, vits.pro
 */
.content {
  background-color: #fff;
}

#app h2, #app h3 {
  font-weight: 400;
}
#app h2 {
  font-size: 1.3em;
  margin-top: 1.8em;
  margin-bottom: 1em;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  color: #444;
}
#app h3 {
  font-size: 1.25em;
  margin-top: 1.75em;
  margin-bottom: 0.9em;
  color: #555;
}
#app a.button {
  padding: 10px;
}
#app .right {
  text-align: right;
}
#app p.link {
  color: var(--link-fg);
  text-decoration: none;
  transition: color 0.15s, background 0.15s;
  cursor: pointer;
}
#app p.link:focus, #app p.link:hover {
  color: var(--link-hover-color);
}
#app .size_more {
  padding: 20px 10px 10px;
  border: 1px solid #ddd;
}
#app .item {
  margin: 20px 0 40px;
}
#app .item p {
  margin: 10px 0;
  padding: 0;
}
#app h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
#app h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
}
#app .module h2 {
  margin-top: 25px;
}
#app table {
  margin-bottom: 20px;
}
#app table td, #app table th {
  padding: 10px;
  font-size: 14px;
}
#app table tr td:first-child {
  text-align: right;
}
#app .bold {
  font-weight: bold;
}
#app .green {
  color: #007600;
}
#app .red {
  color: #d02d22;
}
#app .cols {
  display: flex;
}
#app .cols .col {
  margin: 20px 30px;
}
#app .cols .col h2:first-child, #app .cols .col h3:first-child {
  margin-top: 0;
}
#app .cols .col:first-child {
  margin-left: 0;
}
#app .cols .col:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  #app .module {
    padding: 0 !important;
  }
  #app .cols {
    flex-direction: column;
  }
  #app .cols .col {
    margin-left: 0;
    margin-right: 0;
  }
}

p {
  line-height: 1.5;
}

ol {
  line-height: 1.5;
}
ol li {
  font-size: inherit;
  line-height: inherit;
}

/*# sourceMappingURL=info_dashboard.css.map */
