/* SBL: info dashboard (info_dashboard.scss)
 * Copyright (c) Maltsev Artem, maltsev.artjom@gmail.com, vivazzi.pro
 * web studio: Viva IT Studio, vits.pro
 */

.content {background-color: #fff;}

#app {
    h2, h3 {font-weight: 400;}

    h2 {font-size: 1.3em;margin-top: 1.8em;margin-bottom: 1em;padding: 10px 0;border-bottom: 1px solid #ddd;color: #444;}
    h3 {font-size: 1.25em;margin-top: 1.75em;margin-bottom: 0.9em;color: #555;}

    a.button {padding: 10px;}

    .right {text-align: right;}

    p.link {
        color: var(--link-fg);text-decoration: none;transition: color 0.15s, background 0.15s;cursor: pointer;
        &:focus, &:hover {color: var(--link-hover-color);}
    }

    .size_more {
        padding: 20px 10px 10px;border: 1px solid #ddd;
    }

    .item {
        margin: 20px 0 40px;

        p {margin: 10px 0;padding: 0;}
    }

    h2 {margin-top: 40px;margin-bottom: 20px;}
    h3 {margin-top: 40px;margin-bottom: 20px;font-size: 18px;}

    .module {
        h2 {margin-top: 25px;}
    }

    table {
        margin-bottom: 20px;

        td, th {padding: 10px;font-size: 14px;}

        tr td:first-child {text-align: right;}
    }

    .bold {font-weight: bold;}

    .green {color: #007600;}
    .red {color: #d02d22;}

    .cols {
        display: flex;

        .col {
            margin: 20px 30px;

            h2:first-child, h3:first-child {margin-top: 0;}

            &:first-child {margin-left: 0;}
            &:last-child {margin-right: 0;}
        }
    }

    @media (max-width: 767px) {
        .module {padding: 0!important;}
        .cols {
            flex-direction: column;
            .col {margin-left: 0;margin-right: 0;}
        }
    }
}

p {line-height: 1.5;}

ol {
    line-height: 1.5;

    li {font-size: inherit;line-height: inherit;}
}
