.pager {
    overflow: hidden;font-size: 0.8em;margin: 20px 0;
    .paged {float: right;font-style: italic;}
    ul {list-style: none;}
    li {
        display: block;margin: 0 5px;float: left;
        a {display: block;text-decoration: none;color: #484848;padding: 0 6px;border: 1px solid #ccc;line-height: 20px;transition: background-color 0.3s ease;}
        &.active, &:hover {
            a {color: #fff;background-color: #6b6b6b;}
        }
    }
}