.pager {
  overflow: hidden;
  font-size: 0.8em;
  margin: 20px 0; }
  .pager .paged {
    float: right;
    font-style: italic; }
  .pager ul {
    list-style: none; }
  .pager li {
    display: block;
    margin: 0 5px;
    float: left; }
    .pager li a {
      display: block;
      text-decoration: none;
      color: #484848;
      padding: 0 6px;
      border: 1px solid #ccc;
      line-height: 20px;
      transition: background-color 0.3s ease; }
    .pager li.active a, .pager li:hover a {
      color: #fff;
      background-color: #6b6b6b; }
