.panel {
  margin: 20px 0; }
  .panel .t_wr {
    display: flex;
    align-items: center;
    border: 2px solid #8f8f8f; }
  .panel .t {
    padding: 10px 20px;
    color: #fff;
    font-size: 1.2em;
    background-color: #8f8f8f; }
    .panel .t a {
      color: #fff; }
      .panel .t a:hover {
        text-decoration: underline; }
  .panel .t_2 {
    padding: 10px 20px;
    background-color: #fff;
    flex-grow: 1; }
  .panel .c {
    background-color: #eee;
    border: solid #bbb;
    border-width: 0 1px 1px;
    padding: 10px;
    font-size: 1.1em; }
  .panel.blue .t_wr {
    border-color: #3894bf; }
  .panel.blue .t {
    background-color: #3894bf;
    color: #fff; }
  .panel.blue .c {
    background-color: #f8fdff;
    border-color: #3894bf; }
  .panel.fixed_height .c {
    max-height: 300px;
    overflow: auto; }
