.th_0 {background-repeat: no-repeat;background-position: 50% 50%;}
.th_contain {background-size: contain;}
.th_cover {background-size: cover;}

.th_svg {background-size: contain;background-repeat: no-repeat;background-position: 50% 50%}