/* SBL: Pretty Form (pretty_form.css)
 * Copyright (c) 2013 - 2019 Maltsev Artem, maltsev.artjom@gmail.com, vivazzi.pro
 * web studio: Viva IT Studio, vits.pro
 */
.pretty_form {
  max-width: 768px;
  margin: 20px auto; }
  .pretty_form.short {
    max-width: 360px;
    margin-left: 0; }
  .pretty_form .title {
    font-size: 1.2em;
    text-align: center; }
  .pretty_form .hint {
    font-size: .95em;
    text-align: right; }
  .pretty_form .btn_wr {
    margin-top: 15px; }
  .pretty_form .item_row {
    overflow: hidden;
    margin-bottom: 10px;
    text-align: left; }
    .pretty_form .item_row .label_wr {
      float: left;
      min-height: 1px; }
    .pretty_form .item_row .label {
      margin-bottom: 4px;
      text-align: right;
      margin-right: 10px; }
      .pretty_form .item_row .label span {
        width: 12px;
        display: inline-block; }
    .pretty_form .item_row .input_wr {
      float: left; }
  .pretty_form input:not([type='submit']), .pretty_form select, .pretty_form textarea {
    width: 100%;
    display: block;
    padding: 4px 12px;
    font-size: 1em;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #fff;
    background-image: none; }
  .pretty_form input:focus, .pretty_form select:focus, .pretty_form textarea {
    outline: 0; }
  .pretty_form input[type=checkbox], .pretty_form input[type=radio] {
    display: inline-block;
    width: 16px; }
  .pretty_form input[type=file] {
    padding-left: 0;
    font-size: 0.8em; }
  .pretty_form .cursored label {
    cursor: pointer; }
  .pretty_form .help_text {
    color: #777;
    font-size: .8em;
    line-height: 1.05em;
    margin-top: 6px; }
  .pretty_form .boolean_field .help_text {
    margin-left: 22px; }
  .pretty_form .error_list {
    list-style: none;
    display: none;
    margin-bottom: 20px; }
    .pretty_form .error_list li {
      margin-left: 0; }
    .pretty_form .error_list.nonfield {
      font-size: .95em; }
  .pretty_form .error {
    color: #BE312E;
    background-color: #f2dede;
    padding: 5px 10px;
    margin: 5px 0 15px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    font-size: .95em;
    display: none;
    line-height: 18px;
    text-align: left; }
  .pretty_form .error_field {
    border: 1px solid #BE312E; }
  .pretty_form .progress {
    margin: 10px 0;
    text-align: right;
    display: none; }
    .pretty_form .progress span {
      vertical-align: middle; }
    .pretty_form .progress .wr {
      width: 100px;
      height: 22px;
      border: 1px solid #00a8e6;
      position: relative;
      display: inline-block;
      vertical-align: middle; }
    .pretty_form .progress .v {
      position: absolute;
      background-color: #00a8e6;
      height: 100%; }
  @media (min-width: 769px) {
    .pretty_form .label_wr {
      width: 35%; }
    .pretty_form .input_wr {
      width: 65%; } }
  @media (max-width: 768px) {
    .pretty_form .item_row .label {
      text-align: left; }
    .pretty_form .label_wr, .pretty_form .input_wr {
      width: 100%;
      float: none; } }
