/* SBL: Pretty Form (pretty_form.css)
 * Copyright (c) 2013 - 2019 Maltsev Artem, maltsev.artjom@gmail.com, vivazzi.pro
 * web studio: Viva IT Studio, vits.pro
 */

.pretty_form {
    max-width: 768px;margin: 20px auto;

     &.short {max-width: 360px;margin-left: 0;}

    .title {font-size: 1.2em;text-align: center;}
    .hint {font-size: .95em;text-align: right;}

    .btn_wr {margin-top: 15px;}

    .item_row {
        overflow: hidden;margin-bottom:10px;text-align: left;
        .label_wr {float: left;min-height: 1px;}
        .label {
            margin-bottom: 4px;text-align: right;margin-right: 10px;
            span {width: 12px;display: inline-block;}
        }

        .input_wr {float: left;}
    }

    input:not([type='submit']), select, textarea {width: 100%;display: block;padding: 4px 12px;font-size: 1em;box-sizing: border-box;vertical-align: middle;background-color: #fff;background-image: none;}
    input:focus, select:focus, textarea {outline: 0;}
    input[type=checkbox], input[type=radio] {display: inline-block;width: 16px;}
    input[type=file] {padding-left: 0;font-size: 0.8em;}

    .cursored label {cursor: pointer;}

    .help_text {color: #777; font-size: .8em; line-height: 1.05em;margin-top: 6px;}
    .boolean_field {
        .help_text {margin-left: 22px;}
    }

    .error_list {
        list-style: none;display: none;margin-bottom: 20px;
        li {margin-left: 0;}
        &.nonfield {font-size: .95em;}
    }

    .error {color: #BE312E;background-color: #f2dede;padding: 5px 10px;margin: 5px 0 15px;border: 1px solid #ebccd1;border-radius: 4px;font-size: .95em;display: none;line-height: 18px;text-align: left;}
    .error_field {border: 1px solid #BE312E;}

    .progress {
        margin: 10px 0;text-align: right;display: none;
        span {vertical-align: middle;}
        .wr {width: 100px;height:22px;border: 1px solid #00a8e6;position: relative;display: inline-block;vertical-align: middle;}
        .v {position: absolute;background-color: #00a8e6;height: 100%;}
    }

    @media (min-width: 769px) {
        .label_wr {width: 35%;}
        .input_wr {width: 65%;}
    }

    @media (max-width: 768px) {
        .item_row .label {text-align: left;}
        .label_wr, .input_wr {width: 100%;float: none}
    }
}