.prev_next {
    margin-top: 15px;margin-bottom: 25px;overflow: hidden;
    a {
        color: #424242;font-size: .95em;text-decoration: none;

        &:hover {text-decoration: underline;}
        &.next {float: right;}
        &.prev {float: left;}
    }

    .fa {margin: 0 5px; font-size: 1em;}
}