.prev_next {
  margin-top: 15px;
  margin-bottom: 25px;
  overflow: hidden; }
  .prev_next a {
    color: #424242;
    font-size: .95em;
    text-decoration: none; }
    .prev_next a:hover {
      text-decoration: underline; }
    .prev_next a.next {
      float: right; }
    .prev_next a.prev {
      float: left; }
  .prev_next .fa {
    margin: 0 5px;
    font-size: 1em; }
