html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* SBL: default styles (reset_and_init.css)
 * Copyright (c) 2013 - 2016 Maltsev Artem, maltsev.artjom@gmail.com, vivazzi.pro
 * web studio: Viva IT Studio, vits.pro
 */
body, select, input, textarea, button, table, p {
  font-size: 1em; }

html {
  font-size: 120%;
  line-height: 1.6; }

input:focus, textarea:focus {
  outline: none; }

p {
  font-size: 1em;
  margin: 1.15em 0; }

a {
  text-decoration: underline;
  cursor: pointer; }
  a:hover, a:focus {
    text-decoration: none;
    color: initial; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 1.8em 0 1em;
  line-height: 1; }

h1 {
  font-size: 2rem;
  margin: 1em 0; }

h2 {
  font-size: 1.65rem; }

h3 {
  font-size: 1.38rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1.15rem; }

h6 {
  font-size: 1.1rem; }

strong, b {
  font-weight: bold; }

em {
  font-style: italic; }

ol, ul {
  margin-bottom: 1.15em; }
  ol > li, ul > li {
    margin-left: 30px; }

pre {
  display: block;
  background: #F0F0F0;
  position: relative;
  padding: 6px 26px 6px 6px;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 16px 0;
  line-height: 21px;
  font-family: 'Courier New', cursive;
  font-size: 14px; }

code {
  font-family: 'Courier New', cursive;
  font-size: 1em;
  background: #ececec;
  color: #151515;
  padding: 2px 4px 0; }

pre code {
  padding: 0.5em;
  display: block;
  background: #F0F0F0; }

code a {
  font-family: inherit; }

blockquote {
  margin-left: 30px;
  border-left: 3px solid #B5B5B5;
  padding-left: 10px; }

.a_i_c a, a.a_i {
  text-decoration: none; }
  .a_i_c a:hover, .a_i_c a:hover, a.a_i:hover, a.a_i:hover {
    text-decoration: underline; }

.underline {
  text-decoration: underline !important; }

.not_underline {
  text-decoration: none !important; }

.clearfix {
  clear: both; }

.no_image {
  border: 1px solid #8d8d8d; }

.nowrap {
  white-space: nowrap; }

.upper {
  text-transform: uppercase; }

.list_t {
  margin-bottom: 0; }

/* --- tables --- */
.table_resp {
  width: 100%;
  overflow-y: hidden; }

table {
  border: 1px solid #d4d4d4;
  border-spacing: 0;
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%; }
  table th {
    background: #EDEDED; }
  table tr td, table tr th {
    border-bottom: 1px solid #d4d4d4;
    padding: 9px 10px; }
  table tr:last-child td {
    border-bottom: none; }

/* --- messages --- */
.mes {
  background-color: #d8d8d8;
  border: 1px solid  #c0c0c0;
  padding: 6px 12px;
  color: #000;
  font-size: .9rem; }
  .mes p {
    font-size: 0.9em; }
  .mes.s {
    background-color: #dff0d8;
    border-color: #C7D8C0; }
  .mes.w {
    background-color: #fcf8e3;
    border-color: #ebe7d2; }
  .mes.e {
    background-color: #f2dede;
    border-color: #dcc8c8; }
  .mes.i {
    background-color: #d9f0f2;
    border-color: #cae2f2; }
  .mes.sm {
    padding: 2px 4px;
    font-size: 0.85em;
    border-radius: 4px; }
  .mes.sm.e {
    color: #c7254e;
    background-color: #f9f2f4; }

/* --- buttons --- */
.btn_wr {
  text-align: right; }

.btn {
  color: #333;
  background-color: #fff;
  font-size: .9em;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  padding: 5px 12px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 15px; }
  .btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none; }
  .btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

/* --- aligns --- */
.align_left {
  text-align: left; }

.align_center {
  text-align: center; }

.align_right {
  text-align: right; }

/* --- thumbs --- */
.th_0 {
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.th_contain {
  background-size: contain; }

.th_cover {
  background-size: cover; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.th_svg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

@media (max-width: 1366px) {
  html {
    font-size: 110%; } }
