.language_button:not(.selected) {
  background: #bbb; }

.inline-group .aligned label {
  width: auto; }

fieldset .fieldBox {
  margin: 10px 20px 10px 0; }

.fieldBox label {
  float: none; }

.fieldBox .readonly {
  margin-left: 0 !important; }

.fieldBox .help {
  margin-left: 0 !important;
  margin-top: 4px !important;
  padding-left: 0 !important; }

.fieldBox .vCheckboxLabel {
  padding-top: 8px; }

@media (max-width: 1024px) {
  .dashboard-container {
    padding-top: 1px; }
  .dashboard-column {
    float: none !important;
    width: 100% !important;
    min-height: initial; }
  .dashboard-module {
    overflow: hidden;
    margin: 18px 0; }
  .dashboard .stacked {
    max-width: initial; }
  .aligned label {
    padding-top: 0; }
  fieldset .fieldBox {
    padding-left: 0;
    margin: 0 0 10px 0 !important; } }

@media (max-width: 767px) {
  .aligned .form-row input[type=checkbox] {
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 0; }
  .fieldBox .vCheckboxLabel {
    padding-top: 0; } }
