.content {
  background-color: #fff; }

a.button {
  padding: 10px; }

h2 {
  margin-top: 40px !important;
  margin-bottom: 20px !important; }

h3 {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
  font-size: 18px !important; }

.module h2 {
  margin-top: 25px; }

@media (max-width: 767px) {
  .module {
    padding: 0 !important; } }

pre {
  line-height: 1.5; }

form {
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important; }
