{% extends 'retina/retina_base.html' %}

{% block th %}
    <script>if ((window.devicePixelRatio !== undefined) && (window.devicePixelRatio >= 2)) document.write('{{ html_tag_x2 }}');else document.write('{{ html_tag }}');</script>
    {{ content_th }}
    <script>document.write('{{ html_tag_end }}');</script>
    <noscript>{{ html_tag_noscript }}{{ html_tag_end }}</noscript>
{% endblock %}