{% load sb_math_tags %}
<div class="th_wr" style="width: {{ width|convert_to_point }}px;{% if height %} height: {{ height|convert_to_point }}px;{% endif %}{{ style }}">
    <div class="th th_svg" style="background-image: url('{{ pic.url }}');{% if height %}height: 100%;{% else %}padding-top: {{ padding_top }};{% endif %}"{% if hint %} title="{{ hint }}"{% endif %}></div>
</div>